<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VineKing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACF6D7270F5F4F1A002234CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF17F14A148ED59000E7A156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3F8B26148EC4DF0030F2BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE3337EC10B14D9800AC9198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
